        h3 {
        color: yellow;
        font-weight: bold;
        text-shadow: 0 0 5px blue;
        }
        h1 {
        color: yellow;
        font-weight: bold;
        text-shadow: 0 0 5px blue;
        }
        .visual {
            color: lightskyblue;
            text-shadow: 1.5px 1.5px #fff;
            font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
        }
        header {
            background: #000;
            color: #fff;
            height: 48px;
        }

        .background-image {
            background-image: url("img/set/bg_visual_pc.jpg");
            /* Additional CSS properties for the background */
            background-repeat: no-repeat;
            background-size: cover;
            height: 660px;
        }
        
        body {
            background-color: #000;
            overflow-x: hidden;
        }
        
        .movie-image {
            background-image: url("img/set/bg_movie_pc.jpg");
            /* Additional CSS properties for the background */
            background-repeat: no-repeat;
            background-size: cover;
            height: 420px;
        }
        
        .story-image {
            background-image: url("img/set/bg_story_pc.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            height: 810px;
        }
        
        .story-mode {
            color: yellow;
            background: rgba(0, 0, 0, 0.5);
            font: bold 30px/1.5 Helvetica, Verdana, sans-serif;
        }
        .verhaal{
            color: lightcyan;
            text-shadow: 2px 2px #000;
            font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
        }
        .verhalen{
            text-align: center;
            position: absolute;
            left: 40%;
            transform: translateX(-10%);
            color: lightcyan;
            text-shadow: 2px 2px #000;
            font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
        }
        .unmei{
            color: lightskyblue;
            background: #00165e;
            font: bold 40px/1.5 Helvetica, Verdana, sans-serif;
        }
        .unmei::after {
            content: '';
            position: absolute;
            bottom: -4px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: rgb(70, 215, 217);
        }
        .haru{
            color: rgb(54, 233, 34);
            background: #00165e;
            font: bold 40px/1.5 Helvetica, Verdana, sans-serif;
        }
        .haru::after {
            content: '';
            position: absolute;
            bottom: -4px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: rgb(70, 215, 217);
        }
        .language-bar {
            position: absolute;
            left: 80%;
            top: 2%;
            display: flex;
            align-items: center;
        }
        .language-bar img {
            width: 24px;
            height: 24px;
            margin-right: 4px;
        }
        .language-bar ul {
            display: none;
            margin-left: 4px;
        }
        .language-bar ul.active {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        li{
            background-color: #000;
            color: #fff;
            list-style: none;
        }
        .about{
            color: white;
            font: bold 30px/1.5 Helvetica, Verdana, sans-serif;
        }
        .new-eleven{
            color: yellow;
            font: bold 30px/1.5 Helvetica, Verdana, sans-serif;
        }
        .chronicle-image {
            background-image: url("img/set/bg_chronicle_pc.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 650px;
            width: 1700px;
            left: -120px;
            position: absolute;
            top: 425%;
        }
        .characters {
            color: greenyellow;
            font-weight: bold;
            text-shadow: 0 0 5px black;
            font-size: 37px;
        }
        .text-container {
    position: relative;
    display: inline-block;
}

.include::before,
.include::after,
.exclude::before,
.exclude::after {
    content: "[";
    font-size: 20px;
}

.include::after,
.exclude::after {
    content: "]";
}

.include::before,
.exclude::before {
    position: absolute;
    left: -20px;
}

.include::after {
    position: absolute;
    right: -20px;
}

.exclude::before,
.exclude::after {
    top: 2px;
}
.chronicle2 {
    background-image: url("img/set/bg_fix_pc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 513%;
    width: 100%;
    height: 110%;
    overflow-y: auto;
    overflow-x: hidden;
}
.row {
    display: flex;
    justify-content: center;
    position: sticky;
  }

  .caravan{
            color: lightskyblue;
            font: bold 26px/1.5 Helvetica, Verdana, sans-serif;
            text-shadow: 0 0 5px black;
        }
        .routes{
            color: lightskyblue;
            font: bold 24px/1.5 Helvetica, Verdana, sans-serif;
            text-shadow: 0 0 5px black;
        }
        .routes::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: blue;
  margin-top: 5px;
}
    .points{
            color: lightgoldenrodyellow;
            font: bold 13px/1.5 Helvetica, Verdana, sans-serif;
            text-shadow: 0 0 5px black;
        }
        .universe{
            color: lightskyblue;
            font: bold 24px/2 Helvetica, Verdana, sans-serif;
            text-shadow: 0 0 5px black;
        }
        .alley{
            color: lightskyblue;
            font: bold 24px/1.5 Helvetica, Verdana, sans-serif;
            text-shadow: 0 0 5px black;
        }
        .playing{
            color: yellow;
            font: bold 24px/1.5 Helvetica, Verdana, sans-serif;
            text-shadow: 0 0 5px black;
        }
        .mappa{
            background-color: #0f131e;
            background-size: cover;
            width: 100%; height: 54.5%;
            position: absolute;
            top: 210%;
        }
        footer{
            background: #212121;
            color: #fff;
            position: absolute;
            top: 300%;
            width: 100%;
            height: 100%;
        }
        .trademark{
            color: #636363;
            text-align: center;
        }