        h3 {
        color: yellow;
        font-weight: bold;
        text-shadow: 0 0 5px blue;
        }
        h1 {
        color: yellow;
        font-weight: bold;
        text-shadow: 0 0 5px blue;
        }
        .visual {
            color: lightskyblue;
            text-shadow: 1.5px 1.5px #fff;
            font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
        }

        .logo-and-text {
            display: flex;
            align-items: center;
        }
        
        
        header {
            background: #000;
            color: #fff;
            height: 48px;
        }

        .header-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .logo {
            flex: 1;
            height: auto;
            width: 30px;
        }
        
        .language-bar {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
               

        .background-image {
            background-image: url("img/set/pc/bg_visual_pc.jpg");
            /* Additional CSS properties for the background */
            background-size: cover;
            background-attachment: fixed;
            height: 730px;
        }

        .yellow-line {
            height: 1.5px;
            background-color: yellow;
        }
        
        .movie-image {
            background-image: url("img/set/pc/bg_movie_pc.jpg");
            /* Additional CSS properties for the background */
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            align-items: center;
    
        }
        
        
        .mobile-banner {
            margin-top: 10px;
        }
        
        .clouds {
            background-image: url("img/set/bg_movie_pc.jpg");
            /* Additional CSS properties for the background */
            background-repeat:repeat-y;
            background-size: cover;
            background-attachment: fixed; /* Add this line */
        }
        
        
        .story-image {
            background-image: url("img/set/pc/bg_story_pc.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            height: 910px;
        }
        
        .story-mode {
            color: yellow;
            background: rgba(0, 0, 0, 0.5);
            font: bold 30px/1.5 Helvetica, Verdana, sans-serif;
        }
        .verhaal{
            color: lightcyan;
            text-shadow: 2px 2px #000;
            font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
        }
        .verhalen{
            color: lightcyan;
            text-shadow: 2px 2px #000;
            font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
        }
        
        .unmei{
            color: lightskyblue;
            background: #00165e;
            font: bold 40px/1.5 Helvetica, Verdana, sans-serif;
        }
        .unmei::after {
            content: '';
            width: 100%;
            height: 1px;
            background-color: rgb(70, 215, 217);
        }
        .haru{
            color: rgb(54, 233, 34);
            background: #00165e;
            font: bold 40px/1.5 Helvetica, Verdana, sans-serif;
        }
        .haru::after {
            content: '';
            width: 100%;
            height: 1px;
            background-color: rgb(70, 215, 217);
        }
        
        .language-bar {
            display: flex;
            align-items: center;
        }
        .language-bar img {
            width: 24px;
            height: 24px;
        }
        .language-bar ul.active {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        li{
            background-color: #000;
            color: #fff;
            list-style: none;
        }
        .about{
            color: white;
            font: bold 30px/1.5 Helvetica, Verdana, sans-serif;
        }
        .new-eleven{
            color: yellow;
            font: bold 30px/1.5 Helvetica, Verdana, sans-serif;
        }
        .chronicle-image {
            background-image: url("img/set/pc/bg_chronicle_pc.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .characters {
            color: greenyellow;
            font-weight: bold;
            text-shadow: 0 0 5px black;
            font-size: 37px;
        }
        .text-container {
    position: relative;
    display: inline-block;
}
.chronicle2 {
    background-image: url("img/set/pc/bg_fix_pc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-y: auto;
    overflow-x: hidden;
}
.row {
    display: flex;
    justify-content: center;
    position: sticky;
  }

  .caravan{
            color: lightskyblue;
            font: bold 26px/1.5 Helvetica, Verdana, sans-serif;
            text-shadow: 0 0 5px black;
        }
        .routes{
            color: lightskyblue;
            font: bold 24px/1.5 Helvetica, Verdana, sans-serif;
            text-shadow: 0 0 5px black;
        }
        .routes::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: blue;
  margin-top: 5px;
}
    .points{
            color: lightgoldenrodyellow;
            font: bold 13px/1.5 Helvetica, Verdana, sans-serif;
            text-shadow: 0 0 5px black;
        }
        .universe{
            color: lightskyblue;
            font: bold 24px/2 Helvetica, Verdana, sans-serif;
            text-shadow: 0 0 5px black;
        }
        .alley{
            color: lightskyblue;
            font: bold 24px/1.5 Helvetica, Verdana, sans-serif;
            text-shadow: 0 0 5px black;
        }
        .playing{
            color: yellow;
            font: bold 24px/1.5 Helvetica, Verdana, sans-serif;
            text-shadow: 0 0 5px black;
        }
        .mappa{
            background-color: #0f131e;
            background-size: cover;
            width: 100%; height: 54.5%;
        }
        footer{
            background: #212121;
            color: #fff;
        }
        .trademark{
            color: #636363;
            text-align: center;
        }

        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            background-color: #000;
            overflow-x: hidden; /* Voorkomt horizontaal scrollen */
            margin: 0;
            padding: 0;
            text-size-adjust: 100%;
        }
        
        .stupid {
            flex: 1;
        }
        