.header-content{
    background-color: #b4fca5;
}
.logo {
    color: green;
    font-weight: bold;
    margin-left: 3%;
    font-size:20px;
    padding: 5px;
}
.title-container{
    text-align: center;
}
.title {
    background-color: black;
    color: white;
    font-size: larger;
    padding: 5px;
    border-radius: 10px;
    display: inline-block; /* Use block display to make it a block-level element */
    margin: auto; /* Center the block-level element horizontally */
}
