/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600l;700&display=swap');

body {
    background: url("img/inalink.png") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.signup {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.signup header {
    font-size: 24px;
    margin-bottom: 20px;
}

.field {
    margin-bottom: 15px;
}

.field label {
    display: block;
    margin-bottom: 5px;
}

.search .input-group .search-input {
    width: 200px; /* Adjust the width as needed */
}

.field input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.button input {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.header-content {
    background-color: #b4fca5;
    padding: 10px;
    text-align: left;
}

.logo {
    color: green;
    font-weight: bolder;
    font-size: 20px;
    padding: 5px;
}

.title-container {
    text-align: center;
}

.title {
    background-color: black;
    color: white;
    font-size: larger;
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
    margin: auto;
}

.avatar-selected {
    border: 2px solid #155f91;
}

.welcome {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

.profilepic {
    width: 95px;
    height: 95px;
    border-radius: 50%;
}

.details{
    margin: 15px;
}

.user-list {
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    text-decoration: none;
    color: #000;
}

.user-list img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.user-list a{
    text-decoration: none;
    color: #000;
    overflow-y: auto;
}

.user-list:last-child{
    border: none;
}

.user-list::-webkit-scrollbar{
    width: 0px;
}

:is(.chats-container, .chatbox)::-webkit-scrollbar {
    width: 0px;
}

.details {
    flex: 1;
}

.details span {
    font-weight: bold;
}

.status-dot {
    color: green;
}

.chat-profilepic{
    width: 50px;
    height: 50px;
}

.arrow-icon{
    color: green;
}


.which-chat {
    display: flex;
    align-items: center;
    background-color: #000;
    color: white;
    border-radius: 8px;
}

.which-chat .details {
    display: flex;
    flex-direction: column;
    margin-left: 10px; /* Adjust the margin as needed */
    word-wrap: break-word;
}

.which-chat .status-dot {
    margin-top: 5px; /* Adjust the margin as needed */
}
.chatbox {
    margin: 20px auto;
    overflow-y:auto;
    height: 600px;
    padding: 10px 30px 20px 30px;
}

.chat-outgoing {
    display: flex;
    margin-bottom: 10px;
    justify-content: flex-end; /* Align to the right */
}

.chat-outgoing .details {
    background-color: aliceblue;
    color: blue;
    padding: 10px;
    border-radius: 8px;
    max-width: 70%;
    margin-left: 20px; /* Adjust the margin as needed */
    word-wrap: break-word;
}

.chat-outgoing img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 26px;
}


.chat-incoming {
    display: flex;
    margin-bottom: 10px;
}

.chat-incoming .details {
    background-color: aliceblue;
    color: blue;
    padding: 10px;
    border-radius: 8px;
    max-width: 70%;
    word-wrap: break-word;
}

.chat-incoming {
    margin-left: auto;
}

.chat-incoming img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 26px;
}

.chats-container {
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    overflow-y: auto;
}

.chats-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.chats-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.chat-area .typing-area{
    display: flex;
    padding: 18px 30px;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    border-radius: 8px;
    margin-top: 10px;
}

.typing-area input {
    height: 45px;
    width: calc(100% - 50px);
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
}

.typing-area button {
    color: #fff;
    background-color: #2a7eaf;
    border: none;
    outline: none;
    width: 50px;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}